[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pelican = "*"
pelican-sitemap = "==1.0.2"
csvkit = "==1.0.3"
markdown = "~=3.1.1"


[dev-packages]



[requires]

python_version = "3.7"
